<!DOCTYPE html>
<html>
<body>
    <h4>Выберите опрос который будет показываться во вкладке</h4>
    <form action="/teams/settings/save/">
        <select name="pool">
            <option hidden disabled selected value>-- выберите опрос --</option>
            {% for pool in pools %}
            <option value={{ pool.id }}>{{ pool.name }}</option>
            {% endfor%}
        </select>
        <input type="hidden" name="token" value="{{ teams_token }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>